@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 0.875rem;
    opacity: 1;
    overflow-y: scroll;
    margin: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.275rem;
    color: var(--bs-emphasis-color);
}

/* Layout for admin dashboard skeleton */

.wrapper {
    align-items: stretch;
    display: flex;
    width: 100%;
}

#sidebar {
    max-width: 264px;
    min-width: 264px;
    background: var(--bs-dark);
    transition: all 0.35s ease-in-out;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 0;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    width: 100%;
    background: var(--bs-dark-bg-subtle);
}

/* Sidebar Elements Style */

.sidebar-logo {
    padding: 1.15rem;
}

.sidebar-logo a {
    color: #e9ecef;
    font-size: 1.15rem;
    font-weight: 600;
}

.sidebar-nav {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    margin-left: 0;
}

.sidebar-header {
    color: #e9ecef;
    font-size: .75rem;
    padding: 1.5rem 1.5rem .375rem;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #e9ecef;
    position: relative;
    display: block;
    font-size: 0.875rem;
}

.sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

.sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

.avatar {
    height: 40px;
    width: 40px;
}

.navbar-expand .navbar-nav {
    margin-left: auto;
}

.content {
    flex: 1;
    max-width: 100vw;
    width: 100vw;
}

@media (min-width:768px) {
    .content {
        max-width: auto;
        width: auto;
    }
}

.card {
    box-shadow: 0 0 .875rem 0 rgba(34, 46, 60, .05);
    margin-bottom: 24px;
}

.illustration {
    background-color: var(--bs-primary-bg-subtle);
    color: var(--bs-emphasis-color);
}

.illustration-img {
    max-width: 150px;
    width: 100%;
}

/* Sidebar Toggle */

#sidebar.collapsed {
    margin-left: -264px;
}

/* Footer and Nav */

@media (max-width:767.98px) {

    .js-sidebar {
        margin-left: -264px;
    }

    #sidebar.collapsed {
        margin-left: 0;
    }

    .navbar,
    footer {
        width: 100vw;
    }
}

/* Theme Toggler */

.theme-toggle {
    position: fixed;
    top: 50%;
    transform: translateY(-65%);
    text-align: center;
    z-index: 10;
    right: 0;
    left: auto;
    border: none;
    background-color: var(--bs-body-color);
}

html[data-bs-theme="dark"] .theme-toggle .fa-sun,
html[data-bs-theme="light"] .theme-toggle .fa-moon {
    cursor: pointer;
    padding: 10px;
    display: block;
    font-size: 1.25rem;
    color: #FFF;
}

html[data-bs-theme="dark"] .theme-toggle .fa-moon {
    display: none;
}

html[data-bs-theme="light"] .theme-toggle .fa-sun {
    display: none;
}
/* ==================== main ==================== */
.table-header th {
    color: #e4e7ea;
    background-color: #3e464d;
    border-color: #23282c;
}

.table-header th {
    cursor: pointer;
}

.table-header th i {
    /* Ẩn icon sort */
    transform: scale(0);
    transition-duration: .2s;
}

.table-header th:hover i {
    transform: scale(1)
}

.table-header th,
.table-content td {
    padding: .75rem;
    text-align: center;
    vertical-align: top;
    border-top: 1px solid #23282c;
}

.table-top {
    margin: 20px 30px 20px 0;
    float: right;
}
.table-top button {
    cursor: pointer;
    transition-duration: .2s;
}
.table-top input, .table-top button, .table-top select {
    padding: 5px 10px;
    border: 3px solid transparent;
}
main table {
    width: 100%;
    border-collapse: collapse;
}
/* Hiển thị tab */
.sanpham, .donhang, .khachhang , .dashboard {
    display: none; /* Ẩn tất cả các tab */
}

.active-tab {
    display: block; /* Chỉ hiển thị tab được chọn */
}
/* Ẩn tất cả các ảnh bên trong bảng sản phẩm */
.table-outline img {
    display: none;
    position: absolute; /* Để ảnh hiện nổi lên trên */
    width: 100px;       /* Đặt kích thước ảnh */
    margin-top: -10px;  /* Điều chỉnh vị trí cho phù hợp */
    margin-left: 5px;
    border: 1px solid #ddd;
    background-color: #fff;
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); */
}

/* Hiển thị ảnh khi hover vào liên kết sản phẩm */
.table-outline td a:hover + img {
    display: block;
}
/* ========================= tooltip from w3school  ====================== */
.tooltip-icon {
    position: relative;
    display: inline-block;
    padding: 5px;
}

.tooltip-icon .tooltiptext {
    visibility: hidden;
    width: 50px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 21;
    bottom: -150%;
    left: 50%;
    margin-left: -25px;
    opacity: 0;
    transition: opacity 0.3s;
}

/* .tooltip-icon .fa-pen, .tooltip-icon .fa-edit {
    color: green;
}


.tooltip-icon .fa-remove, .tooltip-icon .fa-trash {
    color: red;
}
.tooltip-icon .fa-pen:hover, .tooltip-icon .fa-edit:hover {
    color: darkgreen; 
}

.tooltip-icon .fa-remove:hover, .tooltip-icon .fa-trash:hover {
    color: darkred; 
} */

.tooltip-icon .tooltiptext::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

.tooltip-icon:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 15px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 0px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.table-content td {
    padding: .75rem;
    vertical-align: top;
}

/* Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex; /* Sử dụng Flexbox */
    align-items: center; /* Căn giữa dọc */
    justify-content: center; /* Căn giữa ngang */
    overflow-y: auto;
    z-index: 14;
    transition: .2s ease;
    transform: scale(0);
    background-color: #020202d8;
}


.overlayTable {
    width: auto;
    background-color: #23282c;
    margin: 0; /* Bỏ căn chỉnh tự động */
}


.overlayTable td:first-child {
    text-align: right;
}

.overlayTable input {
    padding: 4px 10px;
    border: none;
    border-radius: 5px;
    background-color: #e7e7e7;
    color: black;
    width: 80%;
}

.overlayTable input[type="file"] {
    background-color: transparent;
    color: var(--bs-body-color);
}

.close {
    /* nút tắt form */
    position: fixed;
    top: 5px;
    right: 5px;
    font-size: 3rem;
    width: 1em;
    height: 1em;
    line-height: 1em;
    text-align: center;
    color: #aaa;
    cursor: pointer;
    transition: .2s ease;
}

.close:hover {
    color: #fff;
    background-color: #f33;
    border-radius: 50%;
}