.background_form{
    width: 100%;
    height: 500px;
    display: flex;
    background-color: #ddd;
}

.sidebar{
    width: 20%;
    margin: 15px;
    border-radius: 5px;
    background-color: #fff;
}

.content_user{
    width: calc(80% - 15px);
    margin: 15px 15px 15px 0px;
    border-radius: 5px;
    background-color: #fff;
}

.user{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px 10px;
}

.user-icon {
    font-size: 40px; /* Kích thước biểu tượng */
    padding: 10px; /* Khoảng cách giữa biểu tượng và vòng tròn */
    border-radius: 50%; /* Làm cho biểu tượng có hình tròn */
    background-color: darkgrey; /* Màu nền vòng tròn */
    color: white; /* Màu sắc của biểu tượng */
    display: inline-block;
    text-align: center; /* Căn giữa biểu tượng */
    margin-right: 5px;
}

.user_select i {
    margin: 10px; /* Khoảng cách giữa biểu tượng và văn bản */
}

.user_select:hover {
    color: red;
    cursor: pointer;
}

.title_user{
    padding: 10px;
}

.title_user{
    font-size: 1.2rem;
    padding: 20px;
}

.input_form{
    display: flex;
    padding: 5px;
}

.in4{
    width: 15%;
    text-align: right;
}

.input{
    padding-left: 20px;
}

.btn_save{
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 35px;
    background-color: red;
    color: #fff;
}

.btn_save a:hover{
    cursor: pointer;
}
