.background_form{
    width: 100%;
    height: 500px;
    display: flex;
}

.left{
    width: 60%;
    height: 50%;
    margin: 50px 35px 20px 150px;
}

.right{
    width: 30%;
    height: 50%;
    margin: 50px 0px 20px 0px;
}

.header{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px 0px;
}

.header1{
    margin-bottom: 30px;
}


.list_header{
    border: 2px solid black;
}

.list {
    list-style-type: none;
    padding: 0;
    border: 1px solid #ddd;
    width: 100%;
}

.list_header, .order-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.list_header {
    font-weight: bold;
    background-color: #f0f0f0;
}

.order-item span {
    width: 20%;
    text-align: center;
}

.col {
    flex-basis: 20%; /* Đảm bảo mỗi cột có độ rộng bằng nhau */
    text-align: center; /* Căn giữa nội dung trong cột */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; /* Cắt bớt văn bản dài quá chiều rộng */
}

.header_in4{
    margin: 10px 0px;
}

.in4{
    margin: 5px 0px;
}

.btn_logout{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 25px;
    margin-top: 20px;
}

.btn_logout a:hover{
    cursor: pointer;
}
